.split-view {
  display: flex;
  flex-direction: row;
  flex: 1;
  min-height: 0;
  width: 100%;
}

.split-view-left {
  flex-shrink: 0;
  display: flex;
  flex-direction: column;
  min-width: 300px;
  overflow: hidden;
}

.split-view-right {
  flex: 1;
  display: flex;
  flex-direction: column;
  min-width: 300px;
  overflow: hidden;
}
